.calculator {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.calculator__assets {
  background-color: red;
  padding: 1rem;
  flex-grow: 1;
}

.calculator__liabilities {
  background-color: blue;
  padding: 1rem;
  flex-grow: 1;
}
